# Virtual environments
.venv/
env/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# VSCode or PyCharm
.vscode/
.idea/

# Django
db.sqlite3
/static/
media/
zanmi_project/db.sqlite3

# MacOS & system
.DS_Store

