{% extends 'base.html' %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Mentions Légales</h1>
    
    <h3>Éditeur du site</h3>
    <p>
        Rafiki Events<br>
        Responsable de publication : Japhet SITUMONANA, Créateur<br>
        Adresse : 414 route de Saint-Simon, 31100 Toulouse, France<br>
        Email : japhet.situmonana@gmail.com<br>
        Téléphone : +33 6 49 49 14 49
    </p>

    <h3>Hébergement</h3>
    <p>
        PythonAnywhere<br>
        Adresse : 15th Floor, Tower Building, 11 York Rd, London SE1 7NX, Royaume-Uni<br>
        Email : support@pythonanywhere.com
    </p>

    <h3>Données personnelles</h3>
    <p>
        Conformément au RGPD, les utilisateurs disposent d'un droit d'accès, de rectification et de suppression de leurs données. 
        Pour toute demande, veuillez nous contacter à l'adresse email mentionnée ci-dessus.
    </p>
</div>
{% endblock %}